/* Global*/
:root {
  --container: 69.375rem;

  --bg-color: #101010;
  --footer-color: #212121;
  --accent: #ffbb1c;
  --error: #ff6f5b;
  --head-text: #f6f6f6;
  --body-text: #fafafa;

  --s88: 5.5rem;
  --s72: 4.5rem;
  --s48: 3rem;
  --s40: 2.5rem;
  --s32: 2rem;
  --s24: 1.5rem;
  --s18: 1.125rem;

  --transition: color 250ms ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--head-text);
  font-size: var(--s18);
  line-height: 1.56;
}

.logo {
  margin-top: 40px;
  text-align: center;
}

.card {
  width: 80%;
  max-width: 470px;
  background: linear-gradient(135deg, #ffbb1c, #ff6f5b);
  color: var(--body-text);
  margin: 30px auto 0;
  padding: 40px 35px;
  border-radius: 20px;
  text-align: center;
}

.searchbox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fafafa;
  border-radius: 30px;
}

.searchbox input {
  outline: 0;
  border: 0;
  flex: 1;
  background: var(--body-text);
  color: var(--footer-color);
  padding: 0px 25px;
  height: 60px;
  border-radius: 50px;
  font-size: 18px;
}

.searchbox button {
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  cursor: pointer;
  background: var(--body-text);
}

.searchbox button img {
  width: 18px;
}

.weather-icon {
  width: 110px;
  margin-top: 30px;
}

.weather h1 {
  font-size: 70px;
  font-weight: 500;
}

.weather h2 {
  font-size: 45px;
  font-weight: 300;
  margin-top: -10px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 40px;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 24px;
  margin-top: -6px;
}

.error {
  display: none;
  margin-top: 20px;
  margin-bottom: -10px;
}

.weather {
  display: none;
}
